<div id="<%= dom_id expense %>">
  <p>
    <strong>User:</strong>
    <%= expense.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense.description %>
  </p>

  <p>
    <strong>Receipt file:</strong>
    <%= expense.receipt_file %>
  </p>

</div>
